@import 'mixins/mixins';
@import 'common/var';

@include b(page) {
  border: 2px solid orange;
  display: table;
  position: relative;
  .middle-line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    z-index: 2;
    background-color: blue;
  }
  .bleed-item {
    position: absolute;
    background-color: blue;
    z-index: 2;
    &.horizontal {
      height: 1px;
      width: 100%;
    }

    &.vertical {
      width: 1px;
      height: 100%;
    }
  }

  .border-item {
    position: absolute;
    background: olivedrab;
    &.horizontal {
      width: 100%;
    }

    &.vertical {
      height: 100%;
    }
  }
  .el-page-content {
    position: relative;
    display: table;
    font-size: inherit;
    border: 1px solid red;
    background: #eee;
  }

  .layout-item {
    position: relative;
    display: table-cell;
    font-size: inherit;
    .layout-item-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      font-size: inherit;
    }
    .pg-layer-div {
      position: absolute;
      .pg-layer-mask {
        display: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
      }
      &:hover {
        .pg-layer-mask {
          display: block;
        }
      }
    }
    .bleed {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border: 10px solid rgba(255, 49, 49, 0.3);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 1px inset;
    }
  }
}
